* {
  margin: 0;
  padding: 0;
}
body {
  /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
}
.outbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(238, 196, 118);
  width: 280px;
  height: 400px;
  border-radius: 20px;
  margin: 100px auto;
}
.img > img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.text {
  text-align: center;
  display: inline;
  font-size: 12px;
}
.text h2 {
  font-size: 15px;
}
